.f-6 {
  font-size: 6pt !important;
}

.f-7 {
  font-size: 7pt !important;
}

.f-8 {
  font-size: 8pt !important;
}

.f-9 {
  font-size: 9pt !important;
}

.f-10 {
  font-size: 10pt !important;
}

.f-11 {
  font-size: 11pt !important;
}

.f-12 {
  font-size: 12pt !important;
}

.f-13 {
  font-size: 13pt !important;
}

.f-14 {
  font-size: 14pt !important;
}

.f-15 {
  font-size: 15pt !important;
}

.f-16 {
  font-size: 16pt !important;
}

.f-17 {
  font-size: 17pt !important;
}

.f-18 {
  font-size: 18pt !important;
}

.f-19 {
  font-size: 19pt !important;
}

.f-20 {
  font-size: 20pt !important;
}